.sidebarWrapper {
  width: 80px;
  height: 100%;
  border-right: 2px solid;
  border-color: rgba(243, 244, 249, 1);
  position: fixed;
  z-index: 99;
  // top: 70;
  left: 0;
  overflow-x: hidden;
  padding-top: calc((100vh - 70px) / 2 - 250px);
  margin: auto;
  
  .icons {
    margin-top: -8px;
  }

  .items {
    margin-bottom: 35px;
    font-size: 30px;
    color: rgba(112,112,114,1);
    cursor: pointer;
  }
  .active {
    font-size: 30px;
    font-weight: bolder;
    border-color: #8300b1 !important;
    color: #8300b1 !important;
    border-right: 5px solid;
    cursor: pointer;
  }

  @media(max-width: 700px) {
    display: none;
  }
}